.solution_alert{
   height: 120px;
   width: 300px;
   line-height: 120px;
   text-align: center;

   z-index: -1000;

   position: absolute;
   top: calc(50% - 60px);
   left: calc(50% - 150px);

   font-size: 27px;
   font-weight: 700;

   opacity: 0;
}


.wrong_solution{

   background-color: rgba(0, 0, 0, 0.85);
   border-radius: 10px;
   border: 1px solid red;
   color: red;
}

.good_solution{

   background-color: rgba(0, 0, 0, 0.85);
   border-radius: 10px;
   border: 1px solid rgba(0, 230, 64, 1);
   color: rgba(0, 230, 64, 1);

   z-index: 1000;
   opacity: 1;
}

.good_solution > img{

   position: absolute;
   top: 10px;
   right: 10px;

   height: 15px;
   width: 15px;
}

.good_solution > img:hover{
   cursor: pointer;
}



.alert_solution_animation{
   animation-name: alert_solution;
   animation-duration: 1s;
}


@keyframes alert_solution {

   0%{ opacity: 1; z-index: 1000;}
   60%{ opacity: 1; z-index: 1000;}
   100%{ opacity: 0; z-index: -1000;}

}

/* VIEWPORT FOR TABLETS */

@media screen and (max-height: 768px), screen and (max-width: 1100px){

   .solution_alert{
      height: 100px;
      width: 260px;
      line-height: 100px;

      position: absolute;
      top: calc(50% - 50px);
      left: calc(50% - 130px);

      font-size: 22px;
   }

   .good_solution > img{

      height: 13px;
      width: 13px;
   }

}



@media screen and (max-width: 1000px){

   .solution_alert{
      height: 90px;
      width: 230px;
      line-height: 90px;

      position: absolute;
      top: calc(50% - 45px);
      left: calc(50% - 115px);

      font-size: 20px;
   }

   .good_solution > img{

      height: 10px;
      width: 10px;
   }

}

@media screen and (max-width: 500px){

   .solution_alert{
      height: 60px;
      width: 150px;
      line-height: 60px;

      position: absolute;
      top: calc(50% - 30px);
      left: calc(50% - 75px);

      font-size: 14px;

   }

   .good_solution > img{

      height: 8px;
      width: 8px;
   }

}
