.statistics_container{
   min-height: 375px;
   margin: 125px 0;

   color: white;

   display: none;
}

.statistics_container > h2{

   font-size: 70px;
   letter-spacing: 10px;
   text-align: center;
   background-color: #222;
   padding: 15px;

   margin-bottom: 100px;

}

.stats{
   display: flex;
   justify-content: space-between;
   justify-content: space-around;
}

.stat{
   width: 20%;
   text-align: center;
}

.stat > h3{
   font-size: 33px;
   font-weight: 400;
}


.stat_value{
   margin-top: 75px;
   font-size: 70px;
   text-align: center;
}

.name_input_container{
   width: auto;
   margin: 0 auto;;
   margin-top: 100px;
   text-align: center;

}

.name_input_container input{
   font-size: 30px;
   height: 40px;
   width: 450px;
}

.name_input_label{
   margin-top: 10px;
   color: white;
   font-size: 20px;
}

.input_buttons{
   width: 100px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   background-color: lightgrey;
   color: #111;
   margin: 0 auto;
   margin-top: 15px;
   border-radius: 2px;
}

.animate_button_apperance{
   animation-name: show_button;
   animation-duration: 1s;
}

@keyframes show_button {

   1%{ opacity: 0; z-index: -1000;}
   100%{ opacity: 1; z-index: 1000;}
}



#submit_form_btn:hover, #input_new_game_btn:hover{
   cursor: pointer;
   transform: scale(1.1);
}

#input_new_game_btn{
   display: none;
}

#form_message_label{
   font-size: 20px;
   line-height: 25px;
   height: 25px;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 10px;
}

.error_not_occured{
   color: #7CFC00;
}
.error_occured{
   color: red;
}






   /* VIEWPORT FOR LAPTOPS */

@media screen and (max-height: 768px), screen and (max-width: 1100px){

   .statistics_container{
      margin-top: 125px;
      margin-bottom: 100px;
   }

   .statistics_container > h2{
      margin-bottom: 85px;
      font-size: 65px;
   }

   .stat{
      width: 200px;
   }

   .stat > h3{
      font-size: 25px;
      font-weight: 400;
   }



   .stat_value{
      margin-top: 75px;
      font-size: 59px;
   }

}


/* VIEWPORT FOR TABLETS */

@media screen and (max-width: 900px){

   .statistics_container{
      margin-top: 100px;
      margin-bottom: 75px;
   }

   .statistics_container > h2{
      margin-bottom: 75px;
      font-size: 60px;
   }

   .stat{
      width: 200px;
   }

   .stat > h3{
      font-size: 22px;

   }

   .stat_value{
      margin-top: 70px;
      font-size: 45px;
   }

}

@media screen and (max-width: 700px){

   .statistics_container{
      margin-top: 100px;
      margin-bottom: 75px;
   }

   .statistics_container > h2{
      margin-bottom: 0px;
      font-size: 55px;
   }

   .stats{
      flex-wrap: wrap;
   }

   .stat{
      width: 45%;
      margin-top: 75px;
   }

   .stat_value{
      margin-top: 50px;
   }

}

@media screen and (max-width: 550px){

   .statistics_container > h2{
      font-size: 8vw;
   }



   .name_input_container input{
      height: 35px;
      width: 84%;
      font-size: 26px;
   }

   .name_input_label{
      font-size: 18px;
   }

   .input_buttons{
      font-size: 17px;
   }

   #form_message_label{
      font-size: 17px;
   }

}

@media screen and (max-width: 400px){


   .name_input_container input{
      height: 35px;
      font-size: 22px;
   }

   .name_input_label{
      font-size: 18px;
   }

   .input_buttons{
      font-size: 16px;
   }

}


@media screen and (max-width: 360px){

   .stat > h3{
      font-size: 20px;
   }

   .stat_value{
      font-size: 35px;
   }
}


@media screen and (max-width: 360px){

   .stat{
      width: 55%;
      margin-top: 80px;
   }

   .stat > h3{
      font-size: 20px;
   }

   .stat_value{
      font-size: 35px;
      margin-top: 40px;
   }
}
