###PROTECT FILES###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule Home index.html
RewriteRule Game-4x4 game_4x4.php
RewriteRule Game-5x5 game_5x5.php
RewriteRule Game-6x6 game_6x6.php
RewriteRule Ranking ranking.html
